/* 
    Created on : May 3, 2014, 8:22:26 AM
    Author     : Utkarsh
*/

body {
 background-color: transparent;
  
    
   
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/*
 * Base structure
 */




/*
 


/*
 * Sidebar
 */




.col-md-8{
    float: none;
}

/*
 * Main content
 */
.content{
  

   
}
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}

.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.header{
   /* height: 120px;
    width:auto;
    background-color: black;
    background-repeat: repeat;
     padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;*/
 
}

.header-title {
    margin-left:40%;
    width: 100%;
}
.container{
 padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}
.navbar-inverse{
    background-color: #428BCA;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #428BCA;}
  .navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #428BCA;}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
#welcomeuser{
    margin-top: 20px;
 float:right;
 margin-right: 50px;
}
#welcomeuser p{
   color: white;
}
#companylogo{
 width: 100%;
 margin-top: 10px;
    
}
#footer {
position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #000;

}
.container .text-muted {
  margin: 20px 0 0 20px;
}
//Map
#map{
        position: relative;
        margin-top: 20px;
        width:600px;
  height:400px;
}
.col-xs-3{
    float:none;
    position: relative;
}
/*.calendar{
    float:right;
  position: relative;
  margin-right: 100px;
  margin-top: -40px;
  
}*/
.caret-reversed {
     display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
/* Collapsible Sidebar */

/* Floats */

.left {float: left;}
.right {float: right;}

.clearer {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
}


/*
    Misc
------------------------------------------------------------------- */

.hidden {display: none;}


/*
    Example specifics
------------------------------------------------------------------- */

/* Layout */

#center-wrapper {
    margin: 0 auto;
    width: 920px;
}


/* Content & sidebar */

#content,#sidebar {
    // line-height: 300px;
    text-align: center;
    //border: 1px solid;
}

#sidebar {
    /*background-color: #DEF;
    border-color: #BCD;*/
    display: none;
}
#content {
    /*background-color: #EFE;
    border-color: #CDC;*/
    width: 97%;
}

.use-sidebar #content {width: 64%;}
.use-sidebar #sidebar {
    display: block;
    width: 32%;
}

.sidebar-at-left #sidebar {margin-right: 1%;}
.sidebar-at-right #sidebar {margin-left: 1%;}

.sidebar-at-left #content, .use-sidebar.sidebar-at-right #sidebar, .sidebar-at-right #separator {float: right;}
.sidebar-at-right #content, .use-sidebar.sidebar-at-left #sidebar, .sidebar-at-left #separator {float: left;}

#separator {
    /*background-color: #EEE;
    border: 1px solid #CCC;*/
        background: url('../images/arrow_left.png') ;
        width: 32px;
        height: 32px;
    
    
}
.use-sidebar #separator {
    background: url('../images/arrow_right.png') ;
        width: 32px;
        height: 32px;
        
       
}
#separator:hover {
	
cursor: pointer;
    
}
 #map_canvas {
        width: 100%;
        height: 400px;
      }
      
      div.scroll
{

width:100%;
height:300px;
/*height:100px;*/
overflow:scroll;
}
