<?xml version="1.0" encoding="UTF-8"?>
<web-app id="events" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
         version="2.5">

    <display-name>DeviceEvents</display-name>
    <description>Device formatted events</description>
    
    <listener>
        <listener-class>org.opengts.war.tools.RTConfigContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>Events</servlet-name>
        <servlet-class>org.opengts.war.events.Events</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Events</servlet-name>
        <url-pattern>*.kml</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Events</servlet-name>
        <url-pattern>*.xml</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Events</servlet-name>
        <url-pattern>*.csv</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Events</servlet-name>
        <url-pattern>*.txt</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Events</servlet-name>
        <url-pattern>*.gpx</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Events</servlet-name>
        <url-pattern>*.json</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Events</servlet-name>
        <url-pattern>*.jsonx</url-pattern>
    </servlet-mapping>

</web-app>
